{% extends 'crm/base.html' %}

{% block title %}{{ employee.name }} {{ employee.surname }}{% endblock title %}

{% block menu_name %}<h3>Employee</h3>{% endblock menu_name %}
{% block content %}
    <ul>
        <li>Name: {{ employee.name }} {{ employee.surname }}</li>
        <li>Gender: {{ employee.gender }}</li>
        {% if employee.date_of_birth %}
            <li>Birthday: {{ employee.date_of_birth }}</li>
        {% else %}
            <li>Birthday: no birthday</li>
        {% endif %}
        <li>Country: {{ employee.country }}</li>
        {% if employee.email %}
            <li>Email: {{ employee.email }}</li>
        {% else %}
            <li>Email: no email</li>
        {% endif %}
        {% if employee.position %}
            <li>Position: {{ employee.position }}</li>
        {% else %}
            <li>Position: no position</li>
        {% endif %}
        {% if employee.company %}
            <li>Company: <a href="{% url 'crm:company' employee.company.id %}">{{ employee.company }}</a></li>
        {% else %}
            <li>Company: no company</li>
        {% endif %}
        <li>Bio: {{ employee.bio }}</li>
        {% if employee.employee_photo %}
            <li><img class="photo" src="{{ employee.employee_photo.url }}" alt="employee photo"></li>
        {% else %}
            <li>Photo: no photo</li>
        {% endif %}
        <li><button><a href="{% url 'crm:edit_employee' employee.id %}">Edit employee</a></button>
            <button><a href="{% url 'crm:delete_employee' employee.id %}">Delete employee</a></button></li>

    </ul>
{% endblock content %}


