{% extends 'crm/base.html' %}

{% block title %}Filtered employees{% endblock title %}

{% block menu_name %}<h3>{{ position }}s</h3>{% endblock menu_name %}
{% block content %}

    {% for employee in employees %}
    <ul>

        <li><a href="{% url 'crm:employee' employee.id %}">{{ employee.name }} {{ employee.surname }}</a></li>
        {% if employee.employee_photo %}
            <li><img class="photo" src="{{ employee.employee_photo.url }}" alt="employee photo"></li>
        {% else %}
            <li>Photo: no photo</li>
        {% endif %}</br>
    </ul>
    {% empty %}
    <p>There is no employees yet.</p>
    {% endfor %}
{% endblock content %}